<div class="container">
    <div class="banner">
        <img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=2700/layout-engine/2022-05/Group-33704.jpg" alt=" banner">
    </div>
    <div class="saleCoupon">
        <a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=720/layout-engine/2023-07/pharmacy-WEB.jpg" alt=""></a>
        <a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=720/layout-engine/2023-07/Pet-Care_WEB.jpg" alt=""></a>
        <a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=720/layout-engine/2023-03/babycare-WEB.jpg" alt=""></a>
    </div>

    <div class="cateContainer">
        <div class="item"><a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=270/layout-engine/2022-11/Slice-11.png" alt="cateImg"></a></div>
        <div class="item"><a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=270/layout-engine/2022-11/Slice-10.png" alt="cateImg"></a></div>
        <div class="item"><a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=270/layout-engine/2022-11/Slice-9_3.png" alt="cateImg"></a></div>
        <div class="item"><a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=270/layout-engine/2022-11/Slice-8_4.png" alt="cateImg"></a></div>
        <div class="item"><a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=270/layout-engine/2022-11/Slice-7_3.png" alt="cateImg"></a></div>
        <div class="item"><a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=270/layout-engine/2022-11/Slice-6_5.png" alt="cateImg"></a></div>
        <div class="item"><a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=270/layout-engine/2022-11/Slice-5_4.png" alt="cateImg"></a></div>
        <div class="item"><a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=270/layout-engine/2022-11/Slice-4_9.png" alt="cateImg"></a></div>
        <div class="item"><a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=270/layout-engine/2022-11/Slice-3_9.png" alt="cateImg"></a></div>
        <div class="item"><a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=270/layout-engine/2022-11/Slice-2_10.png" alt="cateImg"></a></div>
        <div class="item"><a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=270/layout-engine/2022-12/paan-corner_web.png" alt="cateImg"></a></div>
        <div class="item"><a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=270/layout-engine/2022-11/Slice-20.png" alt="cateImg"></a></div>
        <div class="item"><a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=270/layout-engine/2022-11/Slice-19.png" alt="cateImg"></a></div>
        <div class="item"><a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=270/layout-engine/2022-11/Slice-18.png" alt="cateImg"></a></div>
        <div class="item"><a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=270/layout-engine/2022-11/Slice-17.png" alt="cateImg"></a></div>
        <div class="item"><a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=270/layout-engine/2022-11/Slice-16.png" alt="cateImg"></a></div>
        <div class="item"><a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=270/layout-engine/2022-11/Slice-15.png" alt="cateImg"></a></div>
        <div class="item"><a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=270/layout-engine/2022-11/Slice-14.png" alt="cateImg"></a></div>
        <div class="item"><a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=270/layout-engine/2022-11/Slice-13.png" alt="cateImg"></a></div>
        <div class="item"><a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=270/layout-engine/2022-11/Slice-12.png" alt="cateImg"></a></div>
    </div>

    <!-- <div class="wholeContainer">
        <div class="dairyContainer">
            <div class="dairyHead">Dairy, Bread & Eggs <a href="#">see all</a></div>
            <div class="allProduct">

                <div class="dairyProductContainer">
                    <div class="cardContainer">
                        <div class="prodImg">
                            <a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=270/app/assets/products/sliding_images/jpeg/0be0d49a-4dae-408a-8786-afae1dd05cb1.jpg?ts=1707312314" alt="prodImg"></a>
                        </div>
                        
                        <div class="infoCard">
                            <div class="timeContainer"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=90/assets/eta-icons/15-mins.png" alt="timeLogo">9 MINS</div>
                            <div class="amountContainer"><div class="prodName">Amul Salted Butter</div> <div class="prodQuanti">100 g</div> </div>
                            <div class="priceContainer">₹60<button>ADD</button></div>
                        </div>
                    </div>
                </div>

                <div class="dairyProductContainer">
                    <div class="cardContainer">
                        <div class="prodImg">
                            <a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=270/app/assets/products/sliding_images/jpeg/0be0d49a-4dae-408a-8786-afae1dd05cb1.jpg?ts=1707312314" alt="prodImg"></a>
                        </div>
                        
                        <div class="infoCard">
                            <div class="timeContainer"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=90/assets/eta-icons/15-mins.png" alt="timeLogo">9 MINS</div>
                            <div class="amountContainer"><div class="prodName">Amul Salted Butter</div> <div class="prodQuanti">100 g</div> </div>
                            <div class="priceContainer">₹60<button>ADD</button></div>
                        </div>
                    </div>
                </div>
                <div class="dairyProductContainer">
                    <div class="cardContainer">
                        <div class="prodImg">
                            <a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=270/app/assets/products/sliding_images/jpeg/0be0d49a-4dae-408a-8786-afae1dd05cb1.jpg?ts=1707312314" alt="prodImg"></a>
                        </div>
                        
                        <div class="infoCard">
                            <div class="timeContainer"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=90/assets/eta-icons/15-mins.png" alt="timeLogo">9 MINS</div>
                            <div class="amountContainer"><div class="prodName">Amul Salted Butter</div> <div class="prodQuanti">100 g</div> </div>
                            <div class="priceContainer">₹60<button>ADD</button></div>
                        </div>
                    </div>
                </div>
                <div class="dairyProductContainer">
                    <div class="cardContainer">
                        <div class="prodImg">
                            <a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=270/app/assets/products/sliding_images/jpeg/0be0d49a-4dae-408a-8786-afae1dd05cb1.jpg?ts=1707312314" alt="prodImg"></a>
                        </div>
                        
                        <div class="infoCard">
                            <div class="timeContainer"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=90/assets/eta-icons/15-mins.png" alt="timeLogo">9 MINS</div>
                            <div class="amountContainer"><div class="prodName">Amul Salted Butter</div> <div class="prodQuanti">100 g</div> </div>
                            <div class="priceContainer">₹60<button>ADD</button></div>
                        </div>
                    </div>
                </div>
                <div class="dairyProductContainer">
                    <div class="cardContainer">
                        <div class="prodImg">
                            <a href="#"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=270/app/assets/products/sliding_images/jpeg/0be0d49a-4dae-408a-8786-afae1dd05cb1.jpg?ts=1707312314" alt="prodImg"></a>
                        </div>
                        
                        <div class="infoCard">
                            <div class="timeContainer"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=90/assets/eta-icons/15-mins.png" alt="timeLogo">9 MINS</div>
                            <div class="amountContainer"><div class="prodName">Amul Salted Butter</div> <div class="prodQuanti">100 g</div> </div>
                            <div class="priceContainer">₹60<button>ADD</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-container">
            <div class="slider" [style.transform]="'translateX(' + offset + 'px)'">
              <div class="slider-item" *ngFor="let item of items">
                <img [src]="item.image" [alt]="item.name">
                <p>{{ item.name }} - ₹{{ item.price }}</p>
              </div>
            </div>
          
            <div class="slider-controls">
              <button (click)="prev()">&#8592;</button>
              <button (click)="next()">&#8594;</button>
            </div>
          </div>
    
    
</div> -->


<div class="main-conatiner" *ngFor="let item of data">
    <div class="heading-continer">{{item.itemHead.mainHeading}} <a href="">{{item.itemHead.seeall}}</a></div>
    <div class="slider-container" >
        <div class="slider-controls">
            <button (click)="onBackArrowClick()">&#8592;</button>
            <button (click)="onNextArrowClick()">&#8594;</button>
          </div>

        <div class="slider"  [style.transform]="'translateX(' + (-currentSlide * 250) + 'px)'">
            
            <div class="slider-item" *ngFor="let child of item.content">
                
                <img [src]="child.image" alt="imageProduct">
                
                <div class="time-part"><img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=90/assets/eta-icons/15-mins.png" alt="time-logo"><div>9 MINS</div></div>
                
                <p class="product-name" >{{child.name}} </p>
                <p class="product-quantity">{{child.quantity}}</p>
                <div class="price-btn">
                    <p> &#8377;{{child.price}}</p>
                <button>ADD</button>
                </div>    
            </div>
        </div>
    </div>
</div>
     
