<div class="conatiner">
    <div class="logo-box">
            <img src="../assets/images/logo.png" alt="logo">
             <!-- <img src="{{imgs}}" alt=""> -->   
    </div>
    <div class="location-box">
        <div class="location">
            <!-- <button>Delivery in 10 minutes
                <br>
                Meerut, u.p, India</button> -->
            <button>
                <div class="upperText">Delivery in 10 minutes</div>
                <div class="belowText">Meerut, Uttar Pradesh, India</div>
            </button>    
        </div>
    </div>
   
        <!-- <div class ="searchBox">
            <input type="text" placeholder="Search 'product'">
        </div> -->

        <div class="search-box">
            <input type="text" placeholder="Search 'product' ">
          </div>
    
    <div class="logMycart">

        <div class="login-btn">
            <a href="#">Login</a>
        </div>
    
   
        
            <button class="cartbtn">My Cart</button>
        

        
    </div>

    </div>
        
